@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif');

body {
	font-family: 'Noto Serif', serif;
	font-weight: 200;
	background: #FFFFFF;
	color: #888981;
	text-align: center;
	margin: 25px 50px 75px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}


nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}


aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


article {
    padding: 10px;
}


img {
	padding: 10px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}


#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}


#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}


footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


h1, h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}


h1 {
	color: #3FC0E8;
	font-weight: 600; 
}


ul {
    text-align: center;
    list-style-type: none;
}


#slogan {
	font-style: italic;
}


.storysamples {
	margin-left: 10%;
	margin-right: 10%;
}


.storysamples a {
	text-decoration: none;
}


.storysamples p {
	color: #888981;
	text-align: left;
}


.storysamples h3 {
	color: #3FC0E8;
	text-align: left;
}


#one,#two {
	padding: 2.5em;
}


.storysamples img {
	float: left;
	position: relative;
}