@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Raleway');

body {
    font-family: 'Raleway', sans-serif;
	font-weight: 200;
	background: #FFFFFF;
	color: #888981;
	text-align: center;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


h1, h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


header {
    padding: 1em;
}


nav {
    padding: 1.5em;
    float: none;
    text-align: center;
}


aside {
    padding: .6em;
}


article {
    padding: 1.5em;
}


img {
	padding: 1.5em;
}

#two_column {
    padding: 1.5em;
}


#left {
    padding: 1.5em;
    float: left;
    width: 30%;
}


#left img {
    padding: 5px;
}

#right {
    padding: 1.5em;
    float: right;   
    width: 62%;
}


footer {
    padding: 1.5em;
}


div {
    padding: 1.5em;
}


h1 {
	color: #3FC0E8;
	font-weight: 600; 
}


ul {
    text-align: center;
    list-style-type: none;
}


.storysamples {
	margin-left: 10%;
	margin-right: 10%;
}


.storysamples a {
	text-decoration: none;
}


.storysamples p {
	color: #888981;
	text-align: left;
}


.storysamples h3 {
	color: #3FC0E8;
	text-align: left;
}


#one,#two {
	padding: 2.5em;
}


.storysamples img {
	float: left;
	position: relative;
}