body {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-weight: 600;
	font-stretch: ultra-condensed;
}
h1, h3 {
	text-transform: uppercase;
}
div {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}