body {

	font-family: Helvetica, sans-serif;
	font-weight: 200;
	background: #FFFFFF;
	color: #888981;
	text-align: center;
	
}

h1, h3 {
	text-transform: uppercase;
}

h1 {
	color: #3FC0E8;
	font-weight: 600; 
}

p {
	text-decoration: none;
}

/*unvisited link */
a:link {
	color: #3FC0E8;
}

/*visited link */
a:visited {
	color: navy;
}